{% extends "base.html" %}
{% load static %}

{% block title %}About Us - Velwelland{% endblock %}
{% block head %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <h2>Velwelland</h2>
    <p>Velwelland aka. the republic of Velwelland is a micronation located in Riihimäki.</p>
    <div id="flag_coat_container">
        <img src='{% static "velwelland_flag.png" %}' alt="The flag of Velwelland" width="496" height="286">
        <img src='{% static "velwelland_coatofarms.png" %}' alt="The coat of arms of Velwelland" width="496" height="496">
    </div>
    <h2>Velwell Crafter</h2>
    <p>...</p>
{% endblock %}