{% extends "base.html" %}
{% load static %}

{% block title %}About Us - Velwelland{% endblock %}
{% block head %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{% static "about/style.css" %}">
{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <h2>Velwelland</h2>
    <p>
        Velwelland aka. the dominion of Velwelland is a micronation located in Riihimäki.
        Velwelland is a place dedicated to creativity, storytelling and handcraft, where people are free to express themselves through craft and explore crafts of others.
        <br><br>Below is the flag (to the left) and the coat of arms (to the right) of Velwelland.
    </p>
    <div id="flag_coat_container">
        <img src="{% static "about/velwelland_flag.png" %}" alt="The flag of Velwelland" width="496" height="286">
        <img src="{% static "about/velwelland_coatofarms.png" %}" alt="The coat of arms of Velwelland" width="286" height="286">
    </div>
    <h2>Vel Well Crafter</h2>
    <img src="{% static "about/background_doodles.png" %}" alt="various drawing of the Vel Well Crafter" width="640" height="501">
    <p>
        The Vel Well is the mascot of Velwelland. They are a black and white cat and the guiding figure of Velwelland. 
        They are a symbol of storytelling, resiliance, humor and skill. Their motto: "Even paws are no obstacle to craft" reflects that in Velwelland everyone is free to craft.
    </p>
{% endblock %}