<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href='{% static "style.css" %}'/>
        <title>{% block title %}My amazing site{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>

    <body>
        <nav id="navbar">
            <div id="navlogo"></div>
            <h1 id="homepagebanner"><a href="/">link to home</a></h1>
            <div id="navbarpad"></div>
            <div id="navlinks">
                <ul>
                    <li><a href="/view">view</a></li>
                    <li><a href="/users/register">register</a></li>
                    <li><a>link3</a></li>
                    <li><a>link4</a></li>
                </ul>
            </div>
        </nav>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="enddiv">
            <p id="copyrightnotice">© micronation ryhmä en tiiä mitä pitäis tarkemmin laittaa 2025</p>
        </div>
    </body>
</html>