
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'sceneviewer/navbar.css' %}">
        <script src="{% static 'sceneviewer/navbar.js' %}"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}"/>
        <title>{% block title %}My amazing site{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <nav id="navbar">
            <div id="navlogo"></div>
            <h1 id="homepagebanner"><a href="{% url 'map' %}">link to home</a></h1>
            <div id="navbarpad"></div>
            <div id="navlinks">
                <ul>
                    <li><a href="{% url 'about' %}" aria-label="about_us">About Us</a></li>
                    <li><a href="{% url 'timeline' %}">user posts</a></li>
                    {% if user.is_authenticated %}
                        <li>
                            <form action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="logout-button" aria-label="User Logout">Logout</button>
                            </form>
                        </li>
                         <li>
                           <a href="{% url 'profile_page' username=user.get_username %}">Profile</a>

                         </li>
                    {%else%}
                        <li><a href="{% url 'register' %}" aria-label="User Registration">registeration</a></li>
                        <li><a href="{% url 'login' %}" aria-label="User Login">Login</a></li>
                        
                    {%endif%}
                </ul>
            </div>
        </nav>

        <div id="content">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        <div id="enddiv">
            <p id="copyrightnotice">© micronation ryhmä en tiiä mitä pitäis tarkemmin laittaa 2025</p>
            <p id="contactemail">*Contact Email Here*</p>
        </div>
    </body>
</html>