/* viewer stylings */

#viewer {
	width: 50vw;
	height: 75vh;
	max-height: fit-content;
}

#viewer-img {
	width: 100%;
	object-fit: contain;
	border-radius: 1em;
}

#viewer-container {
	display: flex;
	flex-direction: row;
}

#view-text-content {
	margin: 0 2em;
}