@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@property --main-text-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #f0f0f0;
}

@property --link-text-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #6681da;
}

@property --linkvisited-text-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #a266da;
}

@property --sub-text-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #c0c0c0;
}

@property --highlight-text-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #ffffff;
}

@property --main-bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #331304;
}

@property --sub-bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #1D0A02;
}

@property --highlight-bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #dddddd4d;
}

@property --overlay-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #c0c0c069;
}

@property --bottom-text-color {
	syntax: "<color>";
	inherits: false;
	initial-value: #000000;
}

body {
	background-image: url('/static/wood-veneer-598-mm-architextures.jpg');
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 10%;
	font-family: Lora, Verdana;
}

#navbar {
	display: flex;
	flex-direction: row;
	width: calc(90% + 2em);
	height: 8em;
	margin: auto;

	#homepagebanner {
		text-align: center;
		margin: auto;
		margin-bottom: 0;
		padding: 1.5rem 0;
		height: 2rem;
		width: 20%;
		background-color: var(--main-bg-color);
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;

		a {
			margin: 0;
		}
	}
}

#navbarpad {
	flex: 30%;
}

#navlinks {
	display: block;
	flex: 50%;
	
	ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		height: 8em;
		margin: auto;
		justify-content: flex-end;
		align-items: flex-end;
	}
		
	li {
		width: 22.5%;
		height: 5rem;
		background-color: var(--main-bg-color);
		margin-left: 0.5rem;
		border-top-left-radius: 1rem;
		border-top-right-radius: 1rem;
		
		a {
			display: block;
			text-align: center;
			line-height: 5rem; /* height of parent container */ 
			margin: auto;
			margin-bottom: 0;
		}
	}
}

#content {
	width: 90%;
	margin: auto;
	overflow: hidden;
	padding: 1em;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background-color: var(--sub-bg-color);
}

#enddiv {
	display: flex;
	flex-direction: column;
	height: 8em;
}

#copyrightnotice {
	margin: auto;
	text-align: center;
	color: var(--bottom-text-color);
}

#contactemail {
	margin: auto;
	text-align: center;
	color: var(--bottom-text-color);
}

/* text */

h1, h2, h3, p, ul, li, form {
	color: var(--main-text-color);
}

a {
	color: var(--link-text-color);
}

a:visited {
	color: var(--linkvisited-text-color);
}