{% load static %}

{% if request.user.is_authenticated %}
	<button onClick="postForm()" class="post-create-button generic-comment-button hoverable-button">
		<p>Create Post</p>
	</button>

	<script defer>
		function postForm() {
			{% if request.user.is_authenticated %}
				// post
				// profile for post
				const post = document.createElement("div");
				post.className = "post-block";
				const postProfile = document.createElement("div");
				postProfile.className = "profile-mini"
				postProfile.onClick = "window.location.href = '{% url 'profile_page' username=request.user.username %}'";
				post.appendChild(postProfile);
				{% if request.user.profile.profile_pic %}
					const postPFP = document.createElement("img");
					postPFP.className = "profile-picture";
					postPFP.src = "/media/{{ request.user.profile.profile_pic }}";
					postPFP.alt = "Profile Picture";
				{% else %}
					const postPFP = document.createElement("img");
					postPFP.className = "profile-picture";
					postPFP.src = "{% static 'users/images/default-avatar.jpg' %}";
					postPFP.alt = "Default Picture";
				{% endif %}
				const postName = document.createElement("h3")
				postName.innerText = "{{ request.user.username }}";
				postProfile.appendChild(postPFP);
				postProfile.appendChild(postName);

				// post form
				const postForm = document.createElement("form");
				postForm.className = "post-comment-form";
				postForm.method = "POST";
				postForm.enctype = "multipart/form-data";
				postForm.action = "{% url 'create_post'%}";
				postForm.id = "comment-form-{{ post.id }}";
				const csrftoken = getCookie('csrftoken');
				const postFormHiddenInput = document.createElement("input");
				postFormHiddenInput.type = "hidden";
				postFormHiddenInput.name = "next";
				postFormHiddenInput.value = "{{ request.path }}";
				postForm.appendChild(postFormHiddenInput);
				const postFormIndent = document.createElement("div");
				postFormIndent.className = "post-comment-form-indent";
				postForm.appendChild(postFormIndent);
				const postFormTitleInput = document.createElement("input");
				postFormTitleInput.type = "text";
				postFormTitleInput.className = "post-form-title-input";
				postFormTitleInput.autocomplete = "off";
				postFormTitleInput.name = "post_title";
				postFormTitleInput.maxLength = "127";
				postFormTitleInput.placeholder = "Add a title to your post!";
				postFormTitleInput.required = true;
				postFormIndent.appendChild(postFormTitleInput);
				const postFormTextInput = document.createElement("textarea");
				postFormTextInput.className = "post-comment-form-text-input";
				postFormTextInput.autocomplete = "off";
				postFormTextInput.name = "post_text";
				postFormTextInput.maxLength = "255";
				postFormTextInput.placeholder = "Type text here!";
				postFormTextInput.required = true;
				postFormIndent.appendChild(postFormTextInput);
				const postFormImageInputLabel = document.createElement("label");
				postFormImageInputLabel.for = "image_file";
				postFormIndent.appendChild(postFormImageInputLabel);
				const postFormImageInput = document.createElement("input");
				postFormImageInput.type = "file";
				postFormImageInput.accept = "image/*";
				postFormImageInput.name = "image_file";
				postFormImageInput.style = "display: none;"
				postFormImageInputLabel.appendChild(postFormImageInput);
				postFormImageInputLabel.className = "post-comment-form-image-label";
				const postFormImageInputImage = document.createElement("img");
				postFormImageInputImage.src = "{% static 'icons/image-attach.svg' %}";
				postFormImageInputImage.className = "post-icon hoverable-icon invert";
				postFormImageInputLabel.appendChild(postFormImageInputImage);
				const postFormSubmitButton = document.createElement("button");
				postFormSubmitButton.className = "generic-comment-button hoverable-button";
				postFormSubmitButton.type = "submit";
				postFormSubmitButton.innerHTML = "<p>Create post</p>"
				postForm.appendChild(postFormSubmitButton);
				postForm.onsubmit = function(e) {
					e.preventDefault();
					let form = document.getElementById("comment-form-{{ post.id }}");
					let url = form.action;
					let formdata = new FormData(form);

					let options = {
						method: 'POST',
						headers: {'X-CSRFToken': csrftoken},
						mode: 'same-origin', // Do not send CSRF token to another domain.
						body: formdata,
					};

					fetch(url, options)
					.then(response => response.json())
					.then((response) => {
						if (response.success) {
							window.location.href = "/profile/"+response.username+"/post/"+response.id+"#selected-post";
						} else {
							window.alert("Creating post failed. Try again later.")
						}
					})
				}
				post.appendChild(postForm);

				// overlay and binding box
				const overlay = document.createElement("div");
				overlay.className = "post-comment-form-overlay";
				overlay.id = "post-comment-form-overlay-{{ post.id }}";
				overlay.addEventListener("click", (click) => {removerPostForm(click)});

				const box = document.createElement("div");
				box.className = "post-segment";

				document.body.appendChild(overlay);
				overlay.appendChild(box);
				box.appendChild(post);
			{% else %}
				window.location.href = "{% url 'login' %}?next={{ request.path }}";
			{% endif %}
		}

		// function for removing form from screen
		function removerPostForm(click) {
			const element = click.target;
			if (element.classList.contains("post-comment-form-overlay")) {
				document.getElementById("post-comment-form-overlay-{{ post.id }}").remove();
			}
		}
	</script>
{% endif %}