{% extends "base.html" %}
{% load static %}
{% block title %}User posts feed - Velwelland{% endblock title %}
{% block head %}
	<link rel="stylesheet" href='{% static "userposts/style.css" %}'/>
	<script src="{% static "userposts/js/getCookie.js" %}"></script>
{% endblock head %}
{% block content %}
	<div class="post-list-h-div">
		<div class="timeline-about">
			<h2>Welcome to the noticeboard!</h2>
			<p>At the noticeboard, you and your fellow crafters and artists can make posts showing off your works, or talk about events!</p>
			{% include "userposts/post_create_form.html" %}
		</div>
		<div class="post-title-block-container">
			{% for post in posts %}
				<div class="post-segment">
					{% include "userposts/post_title_block.html" with post=post %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}